<app-navbar></app-navbar>

  <form [formGroup]="farmForm" class="space-y-4 mt-40 p-6 max-w-md mx-auto bg-white shadow rounded mt-6">
  <div>
    <label class="block text-sm text-gray-700 mb-1">Village</label>
    <input type="text" formControlName="village" class="w-full p-2 border border-gray-300 rounded" />
  </div>

  <div>
    <label class="block text-sm text-gray-700 mb-1">Sowing Date</label>
    <input type="date" formControlName="sowing_date" class="w-full p-2 border border-gray-300 rounded" />
  </div>

  <div>
    <label class="block text-sm text-gray-700 mb-1">Area (in acres)</label>
    <input type="number" formControlName="area" class="w-full p-2 border border-gray-300 rounded" />
  </div>

  <div>
    <label class="block text-sm text-gray-700 mb-1">Crop</label>
    <input type="text" formControlName="crop" class="w-full p-2 border border-gray-300 rounded" />
  </div>

  <!-- <div>
    <label class="block text-sm text-gray-700 mb-1">Farmer ID</label>
    <input type="number" formControlName="farmer_id" class="w-full p-2 border border-gray-300 rounded bg-gray-100" readonly />
  </div> -->

  <button type="button" (click)="submit()" class="w-full py-2 bg-green-600 text-white rounded hover:bg-green-700">
    Create Farm
  </button>
</form>

<div *ngIf="success" class="mt-4 text-green-700 text-center font-medium">
  Farm created successfully
</div>
